:root {
    --main-bg:#F7F7F7;
    --main-gray-color: #151515;
    --main-red-color: #D23A27;
    --success-color: #198754;
    --secondary-bg-color:#ebe8e8;
    --secondary-bg-color-hover: #e2e2e2;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--main-bg)!important;
}

h1 {
    font-size: 2em;
}

#piedepagina {
    background-color: var(--main-gray-color);
    position: sticky!important;
    width: 100%;
    margin-top: auto;
    
}

#piedepagina a {
    color: #ffffff;
    text-decoration: none;
}


.iconoredes {
    font-size: 2em;
    padding-right: 0.5em;
}

#mainNavbar {
    background-color: transparent !important;
    font-family: 'Raleway', sans-serif !important;

}

#mainNavbar a {
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black;
    margin: 0 0.5rem;
}

#mainNavbar a:hover {
    color: var(--main-red-color) !important;
    cursor: pointer;

}

#mainNavbar a:active {
    color: var(--main-red-color) !important;
    font-weight: 700;
    background-color: transparent;

}


.navbar-brand img {
    height: 60px !important;
}

#logoFooter {
    height: 50px;
}

#carouselExampleIndicators img {
    height: 70%;
    object-fit: contain;
    /* object-fit: scale-down; */
}

.title-section-footer {
    text-transform: uppercase;
    font-weight: 600;
}

.card {
    height: 300px;
}

.card-body {
    background-color: var(--main-gray-color);
    color: #ffffff !important;

}

#card {
    border: 0px none;
}

.card-body #productNameCard {
    font-weight: bold;
    font-size: 30px;
    text-align: start;
    display: flex;
    flex-direction: row;

}

.card-body #priceCard {

    text-align: end;
    display: flex;
    font-size: 20px;
    margin-left: 8px;
}

.card-body #categoryCard {
    text-align: start;
    text-transform: uppercase;
    display: flex;
    font-size: 15px;
    margin-left: 5px;
    width: fit-content;
}

.card-body #btnAddToCartCard {
    margin: 10px 0px;
    padding: 5px 17px;
    text-align: end;
    text-decoration: none !important;
    display: inline-flex;
    flex-direction: row-reverse;
    background-color: var(--main-red-color) !important;
    color: #ffffff;
    font-weight: bold;
    border: none;
}

.card-body #iconCart {
    text-align: end;
    display: inline-flex !important;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
}

#imageProductCard {
    height: 220px !important;
    width: auto;
}

#formSignup {
    align-items: center;
    justify-content: center;
}

.btnForm {
    padding: 5px 17px;
    background-color: var(--main-red-color) !important;
    color: #ffffff;
    font-weight: bold;
    border: none;
}

.link-login {
    text-decoration: none;
    color: var(--main-red-color);
}

.link-login:hover {
    font-weight: bold;
    color: var(--main-red-color);
}

.parent-section {
    margin-bottom: 3rem !important;
    margin-top: 1rem;
}


.parent-section-successful{
    height: calc(90vh - 300px);
    margin: auto!important;
}

#noResultFound {
    color: var(--main-red-color);
    font-weight: bold;
    height: 10rem;
    margin: auto;
    display: block;
}

#mainProductSection {
    padding-bottom: 1rem;
}

#notfoundImg, #successImg {
    height: 200px;
    width: auto;
    display: block;
    margin: auto;
    padding-bottom: 2rem;
}

.title-section {
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 700;
}

.cardDemoWorks .card-body {
    padding-top: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.cardDemoWorks .title-card-demo {
    display: flex;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    justify-content: center;
    flex-direction: row;
}

.cardDemoWorks .subtitle-card-demo {
    display: flex;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    flex-direction: row;
}

.cardDemoWorks .demo-card-image {
    height: 300px !important;
    width: auto !important;
}

#demoCardStart {
    transform: rotate(-10deg);
}

#demoCardCenter {
    transform: rotate(0deg);
}

#demoCardEnd {
    transform: rotate(10deg);
}

#successSignup, #successUpdateUser, #successOrder{
    color: var(--success-color);
    margin-bottom: 2rem;
}

.parent-section label{
    font-size: 25px;
}

.parent-section .input-form{
    font-size: 1rem;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 600;
}

.parent-section .fullnameLabelGreet{
    color: #A81A1A;
}

.form-input-row{
    margin-bottom: 2rem;
}

#myAccountSection #mainRowFormMyAccount{
    display: flex;
    justify-content: center;

}

#welcomeSection{
    height: 50vh;
}

#orderDetailSection .order-det-tb-h-p{
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

#orderDetailSection .order-det-tb-row-p {
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

#orderDetailSection .order-det-tb-row:hover {
background-color: var(--secondary-bg-color-hover);
}

#orderDetailSection .order-det-tb-h {
    background-color: var(--secondary-bg-color);
}

#orderDetailSection #totalTb{
    font-size: 1.25rem;
    color: var(--main-red-color);
    font-weight: 600;
    
}

#orderDetailSection #totalAmountTb{
    font-size: 1.25rem;
        color: var(--main-red-color);
        font-weight: 600;
        
}

.parent-section #map {
    width: 100%;
    height: 500px;
    margin-top: 20px;
    display: flex !important;
    justify-content: start;
}
.parent-section #mapDetail {
    width: 100%;
    height: 500px;
    border-radius: 1.5rem;
}

#rowMapDetail{
display: flex !important;
    justify-content: center !important;
    
}